---
  import Layout from '../layouts/Layout.astro'
  const title = 'Oops, al parecer algo va mal, lo sentimos'

---

<Layout title={title}>

  <div class="container">
    <p class="text">
      Lo sentimos, pero no pudimos encontrar la página que estás buscando.
    </p>
  </div>

</Layout>

<style>

  .container {
    position: relative;
    height: 100vh;
    width: 100%;
  }

	.text {
    position: absolute;

    top: 50%;
    left: 50%;
    height: 50%;
    width: 70%;
    margin: -10% 0 0 0;
    text-align: center;
    font-size: 3em;


    transform: translateX(-50%);
    color: #dbdbdb;
    font-size: 3em;
    opacity: 0.5;
  }


</style>